# General Variables
OPENFIGI_URL = "https://api.openfigi.com/v3/mapping"
LOG_LEVEL = "INFO"

# User-specific Variables
ROOT_DIR = "ROOT DIR" # run 'pwd' in your terminal and copy contents here
ROOT_OUTPUT_PATH = "ROOTDIR" + data/cache
OPENFIGI_API_KEY = 5ac65a24-de1a-431e-ab4c-8549b39f88ee  # Get key at: https://www.openfigi.com/api
# LLAMA_API_KEY = "your_key_here"  # Get key at: https://docs.cloud.llamaindex.ai/llamacloud/getting_started/api_key

GOOGLE_API_KEY = AIzaSyDH_BittfLYkGkRj44kVT4WYRZcDwqdEUE # Get here: https://programmablesearchengine.google.com/controlpanel/all
GOOGLE_SEARCH_ENGINE_ID = 4082aa3eec5e64a62 #Get here: https://developers.google.com/custom-search/v1/overview
