# project requirements
pandas
googlesearch-python
python-dotenv
loguru
pydantic
requests
flask
transformers
docling
tf-keras==2.16.0
tensorflow-cpu==2.16.1
PyPDF2
llama-parse
pycryptodome
openai

# dev requirements
pre-commit
black
flake8
isort