# project requirements
pandas
python-dotenv
loguru
pydantic
requests
flask
transformers
docling
torch
jpype1
# tf-keras==2.16.0
# tensorflow-cpu==2.16.1
PyPDF2
# llama-parse
# pycryptodome
openai
tabula-py
docling
google-search-results  # serpapi

# dev requirements
pre-commit
black
flake8
isort
pytest
