# project requirements
pandas
python-dotenv
loguru
pydantic
requests
flask
transformers
docling
jpype1
PyPDF2
openai
tabula-py
docling
google-search-results  # serpapi
yfinance
llama_parse

# dev requirements
pre-commit
black
flake8
isort
pytest

Flask-SocketIO
folium

# The main LangChain library
langchain
langchain_community
langchain_core
pymupdf4llm
langchain_openai